# list of files to ignore by git

# exclude these input data files
/DATA/ES*
/DATA/lf_albedo.mat
/DATA/dh_*_1995.txt

# exclude these files
desktop.ini
.DS_Store
lake-model-daily.sublime-project
lake-model-daily.sublime-workspace

# exclude these directories
blob_storage

# except these files