# list of files to ignore by git

# exclude these files
desktop.ini
.DS_Store
lake-model.sublime-project
lake-model.sublime-workspace

# exclude these directories
data-raw/*
result-figures/*
scripts-other/*

# except these files
